<h1>Editing content - <%= link_to(@content.key, admin_content_path(@content)) %></h1>

<%= semantic_form_for([:admin, @content]) do |form| -%>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <%= form.actions do -%>
    <%= form.action :submit, :as => :button -%>
  <% end -%>
<% end -%>