<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_url %>"><%= enki_config[:author][:name] %></a>
      <ul class="nav">
        <% if params[:scope] == 'blog' %>
            <li><%= link_to('Home', root_path) %></li>
            <li class="<%= 'active' if current_page?(posts_root_path)%>"><%= link_to('Blog', posts_root_path) %></li>
            <li class="dropdown  <%= 'active' if params[:tag] %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% category_links_for_navigation.each do |link| -%>
                    <li class="<%= 'active' if current_page?(link.url)%>"><%= link_to(link.name, link.url) %></li>
                <% end -%>
              </ul>
            </li>
            <li class="<%= 'active' if current_page?(archives_path)%>"><%= link_to('Archive', archives_path) %></li>
        <% else %>
            <% page_links_for_navigation.each do |link| -%>
                <li class="<%= 'active' if current_page?(link.url) %>"><%= link_to(link.name, link.url) %></li>
            <% end -%>
            <li><%= link_to('Blog', posts_root_path) %></li>
            <li class=""><%= link_to("Curriculum Vitæ" , root_url + "pdfs/shadab-resume.pdf") %></li>
       <% end %>
      </ul>
      <form method="get" id="sform" action="http://www.google.com/search" class="navbar-search pull-right">
        <div>
          <input type="text" id="q" value="" name="q"  class="search-query" placeholder="Search">
          <input type="hidden" name="sitesearch" value="<%= enki_config[:url] %>">
        </div>
      </form>
    </div>
  </div>
</div>
